---
import Tour from '../components/Tour.astro';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VSX & Astro</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }

        .logos {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            margin: 1em 0;
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <div class="logos">
                    <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                    <img width="60" height="80" src="/assets/logo-x-static.svg" alt="Virtual State logo">
                </div>
                <h1>Welcome to <a href="https://astro.build/">Astro</a> & <a href="https://virtualstate.dev/">Virtual State</a></h1>
            </div>
        </header>

        <Tour />
    </main>
</body>
</html>
